:root {
  --color-white: #fff;
  --color-black: #2c3e50;
  --color-green: #27ae60;
  --color-red: #e74c3c;
  --color-purple: #8e44ad;
  --color-grey: #7f8c8d;
  --header-height: 27px;
  --footer-height: 60px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-white {
  color: var(--color-white)
}

.color-grey {
  color: var(--color-grey);
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: var(--color-green);
}

.orderbook {
  position: relative;
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 14px;
}

.orderbook-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.orderbook-header div {
  flex: 1;
}

.orderbook-header div.spread {
  flex: 2;
}

.order-side-container {
  position: absolute;
  bottom: var(--footer-height);
  top: var(--header-height);
  left: 0;
  right: 0;
  overflow-y: scroll;
  display: flex;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

@media only screen and (max-width: 768px) {
  .order-side-container {
    flex-direction: column;
  }
}

.order-side-container .order-side-list {
  flex: 1;
}

.order-side-container .order-side-list .order-side-list-row {
  position: relative;
  padding: 5px 2px;
}

.order-side-container .order-side-list .order-side-list-row .percentage-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.3;
}

.order-side-container .order-side-list .order-side-list-row .percentage-bg.flipped {
  left: unset;
  right: 0;
}

.order-side-container .order-side-list.asks .order-side-list-row .percentage-bg {
  background: var(--color-red);
}

.order-side-container .order-side-list.bids .order-side-list-row .percentage-bg {
  background: var(--color-green);
}

.order-side-container .order-side-list .columns {
  display: flex;
  justify-content: space-around;
}

.order-side-container .order-side-list .columns .columns-item {
  flex: 1;
  text-align: center;
}

.orderbook-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.orderbook-footer button:first-child {
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 5px;
  color: var(--color-white);
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

button.purple {
  background-color: var(--color-purple);
}

button.red {
  background-color: var(--color-red);
}

select {
  appearance: none;
  background-color: var(--color-grey);
  border: none;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  opacity: 0.8;
}